<div class="nav">
    <div class="left-nav">
        <button class="nav-btn" (click)="onCategorySelected(1)">Dogs</button>
        <button class="nav-btn" (click)="onCategorySelected(2)">Cats</button>
        <button class="nav-btn" (click)="onCategorySelected(3)">Fish</button>
        <button class="nav-btn" (click)="onCategorySelected(4)">Birds</button>
    </div>
    <div class="right-nav">
        <button *ngIf="isAuthenticated && !isAdmin" class="nav-btn" routerLink="history">History</button>
        <button *ngIf="isAuthenticated && !isAdmin" class="nav-btn" routerLink="cart">Cart</button>
        <button *ngIf="!isAuthenticated" class="nav-btn" routerLink="register">Register</button>
        <button *ngIf="!isAuthenticated"  class="nav-btn" routerLink="login">Login</button>
        <button *ngIf="isAuthenticated"  class="nav-btn" (click)="logout()">Logout</button>
    </div>
</div>
<router-outlet (activate)="onEvent($event)"></router-outlet>

