<div class="wrapper">
    <div class="form-container">
        <h1 class="payment-heading">Provide order information</h1>
        <form (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="name" class="form-control" id="name" [(ngModel)]="name" name="name">
            </div>
            <div class="form-group">
                <label for="address">Address</label>
                <input type="address" class="form-control" id="address" [(ngModel)]="address" name="address">
            </div>
            <div class="form-group">
                <label for="phoneNumber">Phone number</label>
                <input type="phoneNumber" mask="000-000-000" class="form-control" id="phoneNumber" [(ngModel)]="phoneNumber" name="phoneNumber">
            </div>
            <input type="submit" value="Pay now">
        </form>
    </div>
</div>

    
